Environment
/bin/a
/bin/aa
/bin/asciitable
/bin/backup-home
/bin/burn
/bin/clipboard
/bin/create-key
/bin/dfs
/bin/discogs-tags
/bin/duh
/bin/e
/bin/emv
/bin/g
/bin/index-disc
/bin/m
/bin/mfedit
/bin/mov-re-encode
/bin/o
/bin/oo
/bin/pack
/bin/terminal-colors
/bin/unpack
/bin/update-context
/bin/valgrind-ruby
config.mk
/emacs.d/site-lisp/userloaddefs.el
/emacs.d/site-lisp/userloaddefs.el~
/os/Cygwin/bin/im
/os/Darwin/bin/a
/os/Darwin/bin/im
/os/Linux/bin/xdigraph
*.aff
*.dic
*.elc
*.xpi
*.zip
