*.aff
*.dic
*.elc
*.xpi
*.zip
.dirstamp
/.build/
/Environment/
/Makefile
/bin/a
/bin/a.in
/bin/aa
/bin/asciitable
/bin/backup-home
/bin/burn
/bin/clipboard
/bin/create-key
/bin/discogs-tags
/bin/duh
/bin/e
/bin/g
/bin/im
/bin/im.in
/bin/index-disc
/bin/m
/bin/mfedit
/bin/mov-re-encode
/bin/o
/bin/oo
/bin/pack
/bin/terminal-colors
/bin/unpack
/bin/update-context
/bin/valgrind-ruby
/build/config.guess
/build/config.sub
/build/install-sh
/config.log
/config.status
/configure
/configure~
/emacs/site-lisp/userloaddefs.el
/emacs/site-lisp/userloaddefs.el~
/host/host.mk
/libexec/clipboard-get
/libexec/clipboard-get.in
/libexec/clipboard-put
/libexec/clipboard-put.in
/os/Linux/bin/xdigraph
/os/os.mk
/zsh/zprofile
