" Vim syntax file
" Language:         <file-description format="%s">
" Maintainer:       <name>
" Latest Revision:  

if exists("b:current_syntax")
  finish
endif

let s:cpo_save = &cpo
set cpo&vim

syn keyword Todo
      \ contained
      \ TODO
      \ FIXME
      \ XXX
      \ NOTE

let b:current_syntax = ""

let s:cpo_save = &cpo
set cpo&vim
