<UserScriptConfig>
	<Script filename="gmail-fixed-font-toggle.user.js" name="Gmail Fixed Font Toggle" namespace="http://persistent.info/greasemonkey" description="Adds a fixed font size toggle button." enabled="true">
		<Include>http://mail.google.com/*</Include>
		<Include>https://mail.google.com/*</Include>
	</Script>
	<Script filename="gmail-secure.user.js" name="GMailSecure" namespace="http://diveintomark.org/projects/greasemonkey/" description="force GMail to use secure connection" enabled="true">
		<Include>http://mail.google.com/*</Include>
	</Script>
	<Script filename="gmail-macros.user.js" name="Gmail Macros" namespace="http://persistent.info/greasemonkey" description="Extra (customizable) keyboard shortcuts and macros." enabled="true">
		<Include>http://mail.google.com/*</Include>
		<Include>https://mail.google.com/*</Include>
	</Script>
</UserScriptConfig>
